// VARIABLES
$primaryColor: #f56b2a;
$blackColor: #1a1a1a;
$blueColor: rgb(65, 131, 215);
$black: #000;
$white: #fff;
$greybackground: #474747;
$lightgrey: rgb(241, 238, 238);
// background
$primaryBackground: #fafafa;
$whiteBackground: #ffffff;
$orangeBackground: #f56b2a;
$blueBackground: #4183d7;

$main-font: 'Open Sans', sans-serif;

$font-base: 16px;
$font-sm: 12px;
$font-regular: 400;
$font-bold: 500;
$spacing-large: 40px;
$spacing-medium: 30px;
$spacing-small: 20px;
$border-base: 0.75px;
$bp-3xl: 1440px; // MacBook Pro
$bp-2xl: 1194px; // iPad Pro
$bp-xl: 1024px; // iPad mini
$bp-lg: 834px; // ipad Pro (vertical)
$bp-md: 768px; // ipad mini (vertical)
$bp-sm: 414px; // iPhone 11 Max
$bp-xs: 375px; // iphone 11
